#projects-container > h1 {
    color: white;
    margin-left: var(--mleft);
}

#project-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-left: var(--mleft);
    margin-right: var(--mleft);
    color: white;
}

#projects-container {
    margin-top: 10em;
}

#project-card {
    z-index: 10;
    width: 20rem;
    height: 25rem;
    background-color: rgba(26, 26, 26, .5);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    transition: background-color 0.25s, color 0.25s;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

@media screen and (max-width: 1540px) {
    #project-cards {
        flex-direction: column;
        align-items: center;
    }

    #project-card {
        width: 80%;
    }

    #projects-container {
        margin-top: 10em;
    }

    #projects-container > h1 {
        text-align: center;
        margin-left: 0;
    }
}

#project-card > img {
    width: auto;
    height: auto;
    max-height: 60%;
    max-width: 90%;
}

#project-card:hover {
    background-color: white;
    color: black;
}